+media-query( screen, min-width 40rem )
    header
        position relative
        z-index 100

    .holder
        position relative
        width 90%
        max-width 82rem
        margin 0 auto
        z-index 50
        clear fix

    section
        width 48%
        float left
        padding-top 30%
        & + section
            float right
            margin-left 4%
            padding-top 7.5%

    figure
        display block
        absolute -3rem auto auto 1rem
        width 30%
        padding .5rem
        background white
        transform-style preserve-3d
        transform-origin 25% 25% 0
        transform rotate( -5deg ) translate3d( 0, 0, 0 )
        box-shadow 0 0 20px rgba( black, .75 )
        img
            display block
            width 100%

    footer
        max-width 82rem
        margin 2.5rem auto 0
        ul
            padding-left 52%
