/* leny.me/leny.github.io - 2016 redesign
 *
 * STYLUS/CSS Document - /assets/stylus/styles.styl
 *
 * coded by Pierre-Antoine "leny" Delnatte
 *
 * started @ 30/12/2015
 */

// imports
@import "kouto-swiss"

// resets
normalize()
box-sizing-reset()

// fonts
font-face( "Source Sans Pro", "./fonts/source-sans/sourcesanspro-light-webfont" )
font-face( "Source Sans Pro", "./fonts/source-sans/sourcesanspro-regular-webfont", bold )
$SourceSansPro = "Source Sans Pro", font-stack( "Helvetica" )
font-face( "Icomoon", "./fonts/icomoon/icomoon", formats: eot svg ttf woff )
$Glyphs = "Icomoon"

// vars
// $mainBackgroundColor = #26bebb
$mainBackgroundColor = #3ed9d5
$headerTextColor = black
$textColor = black
$linkColor = quad( $mainBackgroundColor )[ 0 ]
$linkHoverColor = mix( $linkColor, $mainBackgroundColor )
$ks-color-fallback-enabled = true

:focus
    outline: 0

html
    height: 100%
    background: $mainBackgroundColor
    font: normal 62.5%/1.5 $SourceSansPro
    -webkit-font-smoothing: antialiased
    -webkit-text-size-adjust: 100%

body
    position: relative
    width: 100%
    min-height: 100%
    padding: 0

@import "media/mobile"
@import "media/tablet"
@import "media/desktop"
