/* leny.me/leny.github.io - 2016 redesign
 *
 * STYLUS/CSS Document - /assets/stylus/styles.styl
 *
 * coded by Pierre-Antoine "leny" Delnatte
 *
 * started @ 30/12/2015
 */

// imports
@import "kouto-swiss"

// resets
normalize()
box-sizing-reset()
