doctype html
html( lang="fr-BE" )
    head
        meta( charset="UTF-8" )/
        title leny.me - Pierre-Antoine Delnatte, 30ans, Webdeveloper.

        meta( name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0" )/

        link( rel="stylesheet", href="assets/styles.min.css" )/

        // Twitter Card
        meta( property="twitter:card", content="summary" )/
        meta( property="twitter:title", content="leny.me - Pierre-Antoine Delnatte, 30ans, Webdeveloper." )/
        meta( property="twitter:description", content="Dev freelance hyperactif, prof de web altruiste, maître du monde en dilettante." )/
        meta( property="twitter:image", content="http://leny.me/assets/me.jpg" )/
        meta( property="twitter:creator", content="@leny_be" )/

        // Facebook OpenGraph
        meta( property="og:type", content="website" )/
        meta( property="og:title", content="leny.me - Pierre-Antoine Delnatte, 30ans, Webdeveloper." )/
        meta( property="og:site_name", content="leny.me" )/
        meta( property="og:description", content="Dev freelance hyperactif, prof de web altruiste, maître du monde en dilettante." )/
        meta( property="og:image", content="http://leny.me/assets/me.jpg" )/
        meta( property="og:locale", content="fr_BE" )/

        <!--[if lt IE 9]>
        script( src="http://html5shiv.googlecode.com/svn/trunk/html5.js" )
        <![endif]-->

    body
        main
            header
                h1 leny.me
                p
                    strong Pierre-Antoine Delnatte, 30ans, Webdeveloper.
                    span
                        | Dev
                        = " "
                        a( href="http://hire.flatland.be", rel="external" ) freelance
                        = " "
                        | hyperactif, prof de web altruiste,
                        br/
                        = " "
                        | maître du monde en dilettante.

            figure
                img( alt="Pierre-Antoine &quot;Leny&quot; Delnatte", src="assets/me.jpg" )/

            section
                h2 En savoir plus sur moi…

                ul
                    li
                        a( href="http://pierre-antoine.delnatte.be", rel="external") CV
                    li
                        a( href="http://blog.leny.me", rel="external") blog
                    li
                        a( href="http://flatland.be", rel="external") flatLand!
                    li
                        a( href="http://cash-cache.com", rel="external") Cash-Cache
                    li
                        a( href="http://egzago.com", rel="external") egzagò

            footer
                h2 Retrouvez-moi sur tout ces réseaux sociaux

                ul
                    li
                        a( href="http://github.com/leny", rel="external", id="github", title="github" )
                            span github
                    li
                        a( href="https://twitter.com/leny_be", rel="external", id="twitter", title="twitter" )
                            span twitter
                    li
                        a( href="http://be.linkedin.com/pub/pierre-antoine-delnatte/a/78a/777/", rel="external", id="linkedin", title="linkedin" )
                            span linkedin
                    li
                        a( href="http://dribbble.com/leny", rel="external", id="dribbble", title="dribbble" )
                            span dribbble
                    li
                        a( href="http://instagram.com/lenymccormick", rel="external", id="instagram", title="instagram" )
                            span instagram
