name: Build & deploy

on:
  push:
    branches:
      - gatsby

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Create npmrc file
      run: |
        echo '' > .npmrc
        echo '@fortawesome:registry=https://npm.fontawesome.com/' >> .npmrc
        echo '//npm.fontawesome.com/:_authToken='${{ secrets.FONTAWESOME_TOKEN }} >> .npmrc
    - uses: actions/setup-node@v1
      with:
        node-version: '12.x'
    - name: npm install and build
      run: |
        npm ci
        npm run build
    - name: deploy
      uses: crazy-max/ghaction-github-pages@master
      with:
        target_branch: master
        build_dir: public
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GITHUB_PAT: ${{ secrets.GH_PAT }}
